.walrus-showing {
  display: none
}

.gif-show {
  display: none
}

.clickable-suit, .clickable-fatman {
  cursor: pointer;
  color: #0088cc;
}

.clickable-suit:hover, .clickable-fatman:hover {
  text-decoration: underline;
}
